@media (max-width: 720px) {
    .container {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

}

@media(max-width: 380px) {


    div.info-usuarios {
        margin: 0 auto;
        padding: 15px;
        margin-right: 7%;
    }
}